[p]
dev_mode=true
last_ip=
log_file=
site_link=

[Sender]
email=only gmail will work
pass=

[TestRecipients]
recipient=

[Recipients]
recipients=sample@email.com
    sample@email2.com
    sample@email3.com
